footer {
  background-color: rgb(233, 233, 252);
  padding-bottom: 40px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  max-width: 900px;
  margin: 10px auto;
}

.footer-container p {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  max-width: 80vw;
  margin: 0px auto;
  border-width: 2px;
}

.clear-button {
  text-transform: uppercase;
  color: red;
  border: 1px solid red;
  letter-spacing: 2px;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 0px auto;
  display: block;
}