section {
  background-color: rgb(233, 233, 252);
  margin: 0;
  padding: 10px 40px;
  font-family: 'Courier New', Courier, monospace;
}

section h2 {
  text-align: center;
  margin: 0;
  padding: 20px 0px;
  font-size: 2rem;
}

.cart-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 40px;
  max-width: 900px;
  margin: 1.3rem auto;
}

.item-detail-container {
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 8px;
}

.item-price {
  margin-top: 5px;
  color: gray
}

.product-title {
  font-size: 1.2rem;
}

.remove-btn {
  border: none;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;
  padding: 0px;
  margin-top: 1rem;
  color: rgb(118, 118, 241);
  letter-spacing: 3px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button :hover {
  color: blue
}

