body {
  margin: 0;
  font-family: "Lucida Handwriting",Monaco,serif;
  background-color: rgb(233, 233, 252);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}
